/* @import "./megamenue.css"; */

/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

p {
  margin: 0px;
}

:root {
  /* 7094aa ,00407e ,089848*/
  --mainColor: #00407e;
  /* --mainColor:#7094aa; */
  --mainColorHover: #01366b;
  --mainColorDark: #02738c;
  --secondColor: #ecf0f1;
  --greenColor: #55c574;
  --redColor: #f34a3f;
  --main-gray-color: #575757;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-background: #ececec;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Tajawal', sans-serif;

}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav-customs {
  width: 100%;
  justify-content: center;
}

.mainBrandColor {
  color: var(--main-gray-color)
}

h1 {
  font-size: 24px;
  font-weight: 600;
}

.sectionLine {
  width: 100%;
  height: 5px;

  /* background-color: var(--mainColor); */
  
  position: relative;
}
.sectionLine::before{
  content: "";
  display: block;
  width: 30%;
  position: absolute;
  top: 0;
  right: 0;
  border-top: solid 5px var(--mainColor);
}
.sectionLine::after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  border-top: solid 1px var(--mainColor);
}

.text-al-just {
  text-align: justify;
  text-justify: kashida;
}

.white-text {
  color: #fff;
}

.section-grey {
  background-color: var(--secondColor);
}

.btn:focus {
  box-shadow: none;
  background-color: var(--mainColorHover);
}


.custom-btn-primary {
  background-color: var(--mainColor);
  border: none;

}

.custom-btn-primary:hover {
  background-color: var(--mainColorHover);
}

.customs-outline-btn {
  border: 1px solid var(--mainColor);
  color: var(--mainColor);
  transition: all 0.5s ease-in-out;
}

.customs-outline-btn:hover {
  background-color: var(--mainColor);
  color: #fff;
}

.customs-outline-btn:focus {
  border: none;
  box-shadow: none;
  background-color: var(--mainColor);
  color: #fff;

}

.customs-primary-color {
  color: var(--mainColor)
}

.customs-secondry-color {
  color: var(--main-gray-color);
}

.shdow-section {
  background-color: var(--secondColor);
}

.main-shadow {
  box-shadow: 2px 1px 10px 0px rgba(0, 0, 0, 0.40);
  -webkit-box-shadow: 2px 1px 10px 0px rgba(0, 0, 0, 0.40);
  -moz-box-shadow: 12px 1px 10px 0px rgba(0, 0, 0, 0.40);

}

.big-font {
  font-size: 36px;
}

.primary-section-bg {
  background-color: var(--mainColor);
}

.maps-form {
  width: 25%;
  background-color: var(--mainColor);
  padding: 15px;

}

.custom-form {
  background-color: var(--mainColor) !important;
  color: white !important;
}

.auth-dropdown {
  z-index: 1500;
}

/* nav bar */

.customs-nav {
  background-color: var(--mainColor);
}

/* meagamenue */

#mainNavBar .nav-link::after {
  display: none !important;
}

#mainNavBar .dropdown-menu.show {
  display: flex;
  background-color: var(--mainColorDark);
  width: 100%;
  justify-content: space-between;
  padding: 15px;
}


@media (max-width :768px) {
  #mainNavBar .dropdown-menu.show {
    display: block;
    background-color: var(--mainColorDark);
    width: 100%;
    justify-content: space-between;
    padding: 15px;
  }

}

#mainNavBar .dropdown-menu.show ul li a {
  display: block;
  padding: 5px;
  font-size: 1rem;
  transition: all 0.5s ease-in-out;
}

#mainNavBar .dropdown-menu.show ul li a:hover {
  /* background-color: var(--mainColor); */
  transform: translateX(-15px);
}

#mainNavBar .dropdown,
.dropdown-center,
.dropend,
.dropstart,
.dropup,
.dropup-center {
  position: unset;
}

#mainNavBar .parant-nav {
  position: relative !important;
}


#mainNavBar .nav-link:focus {
  border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  border: 0px none #000000;
  /* color: var(--mainColorDar); */
  background-color: var(--mainColorDark);
}


/*  */
.round-btn {

  background-color: var(--mainColor);
  color: #fff;
  padding: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(139deg);
}

.round-btn:hover {
  color: #fff;
}

/* footer
 */

.footer-section {
  /* min-height: 750px; */
  /* position: relative; */
}

.footer-wraper {
  position: relative;
  /* display: flex; */
}

.client-form {
  position: absolute;
  top: -70px;
  width: 60%;
  left: 20%;
  background-color: var(--mainColorDark);
  padding: 30px;
}


.footer-links {
  padding-top: 15px;
}

.footer-links a {
  display: block;
  margin: 0;
  /* padding: ; */
  color: #fff;
}

.footer-decor {
  margin-top: 50px;
  position: relative;
}

.footer-decor-line {
  /* position: ; */
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.footer-decor-img {
  position: absolute;
  top: -35px;
  left: 50%;

  width: 75px;
}

.footer-mark {
  padding-top: 40px;
  color: #fff;
}


/* news Ticker */

#tx {
  direction: ltr;
  display: flex;
  height: 100%;
  align-items: center;
}

.msg-lightgreen {
  background-color: var(--secondColor);
  color: var(--main-gray-color);
  cursor: pointer;
}

.news-bar-wrp {
  background-color: var(--secondColor);
  height: 40px;
  /* display: flex; */
  /* align-items: center; */
}

.news-bar-wrp {
  position: relative;
}

.news-bar-wrp .news-bar-head {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0px 5px;
  background-color: var(--redColor);
  height: 100%;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}

/* End news ticker */

.main-head-wraper>h1 {
  color: var(--main-gray-color);
  font-weight: 500;
  /* font-size: 28px; */
  /* padding-top: 5px */
}

.main-header {
  background-color: #fff;
  width: 100%;

}

.main-logo-wraper {
  width: 70px;
}

.head-color {

  color: var(--mainColor)
}

.auth-btns-wraper {
  height: 70px;
}

.white-color-text {
  color: #fff
}

#siteSearch {
  width: 100%;
  height: 40px;
  border-radius: 50px;
}


.homeLink {
  color: #fff;
  font-weight: 600;
}

.homeLink:hover {
  color: #fff;
}


/* pagnation */

.page-item .page-link {
  color: var(--main-gray-color);
}

.page-item .page-link:focus {
  box-shadow: none;
}

.img-wraper-thumb {
  width: 200px;
}

.news-list-wrpaer {
  cursor: pointer;
  width: 100%;
  position: relative;
}

.news-list-wrpaer a {
  color: var(--mainColor);
}

.news-date {
  color: var(--main-gray-color);
  position: absolute;
  bottom: 15px;
  right: 15px;

}

.news-list-wrpaer:hover {

  background-color: var(--secondColor);
}

.control-bar {
  background-color: var(--secondColor);
  padding: 15px;

}

.car-custom-fottr {
  background-color: var(--secondColor);
  padding: 15px;
}

.hot-topic-wraper {
  position: relative;
  padding-right: 100px;
}

.p-jusify {
  text-align: justify;
}

.form-wrapper-cutom {
  background-color: var(--secondColor);
  padding: 15px;
  min-width: 400px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.image-wrapper-logo {
  width: 75px;
}

/* customs tabs  */

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: var(--secondColor);
}

.custom-table-style thead tr th {
  background-color: var(--mainColor);
  color: #fff;
}

.complaine-wrapper {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.complaine-box {
  position: relative;
  padding: 15px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--secondColor);
  height: 300px;
  width: 20%;
  overflow: hidden;
  border-radius: 15px;
}

.comp-wrp-hvr {
  /* content: ""; */
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(100, 100, 100, 0.7);
  bottom: -400px;
  left: 0;
  /* opacity: 0.5; */
  transition: all 0.5s ease-in-out;
}

.complaine-box:hover>.comp-wrp-hvr {
  bottom: 0;
}

.complaine-box-iner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.img-wraper-comp {
  width: 75px;
  height: 75px;
  background-color: var(--mainColor);
  border-radius: 50%;
  padding: 10px;
}

.comp-form-wrp {
  background-color: var(--secondColor);
}

.comp-form-wrp {
  width: 50%;
}

.news-sec-detil-link {
  color: var(--main-gray-color);
  font-weight: bold;
}

.news-sec-detil-link:hover {
  color: var(--mainColor);
}

.custom-btn-primary i {
  transition: all ease-in-out 0.3s;
}

.custom-btn-primary:hover i {
  transform: translateX(-10px);

}


.services-main-btn {
  width: 100px;
  height: 100px;
  background-color: var(--mainColor);
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;

}

.services-main-btn:hover {
  color: white;
  transform: scale(1.2);

}

.servises-wrape-btn {
  transition: all 0.5s ease-in-out;
  transition-delay: 0.1s;
}

.servises-wrape-btn:hover {
  background-color: var(--mainColor);
  color: white;
}

.social-media-links {
  position: fixed;
  top: 50%;
  left: 0px;
  z-index: 1300;

}

.social-media-links .faceBook {
  background-color: #4267B2;
  width: 70px;
  height: 70px;
  color: #fff;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
}

.social-media-links .faceBook:hover {
  transform: scaleX(1.1);
}

.social-media-links .youtube {
  background-color: #EF4957;
  width: 70px;
  height: 70px;
  color: #fff;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;

}

.social-media-links .youtube:hover {
  transform: scaleX(1.1);
}