<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Tajwal font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@200;400;800&display=swap" rel="stylesheet">

    <!-- owl Carsoul  -->
    <link rel="stylesheet" href="./css/owl.carousel.min.css">
    <link rel="stylesheet" href="./css/owl.theme.default.min.css">

    <!-- font awsome -->
    <link rel="stylesheet" href="./css/all.min.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="./css/bootstrap.rtl.min.css">
    <!-- flags  icons css -->
    <link rel="stylesheet" href="./css/flag-icons.min.css">
    <link rel="stylesheet" href="./css/docs.css">

    <!-- main style sheet -->
    <link rel="stylesheet" href="./css/aboutStyle.css">
    <title>مصلحة الجمارك المصرية</title>
</head>

<body>

    <!-- Start Of the main Head -->

    <div class="main-header py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="d-flex align-items-center">
                        <div class="main-logo-wraper">
                            <img src="./images/EcaLogoLarge.png" class="img-fluid" alt="">
                        </div>
                        <div class="main-head-wraper px-2">
                            <h1>وزارة المالية</h1>
                            <h1>
                                مصلحة الجمارك المصرية
                            </h1>
                        </div>
                    </div>

                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="d-flex justify-content-end align-items-center auth-btns-wraper">
                        <div class="px-2">
                            <a href="#" class="btn  btn-sm custom-btn-primary rounded-pill text-white">
                                <i class="fa-solid fa-user"></i>
                                <span>

                                    تسجيل الدخول
                                </span>
                            </a>

                        </div>
                        <div class="px-2">

                            <a href="#" class="btn  btn-sm  rounded-pill customs-outline-btn">
                                <i class="fa-solid fa-globe"></i>
                                <span>

                                    English
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Of the main Head -->

    <!-- Start of news ticker -->
    <div class="news-bar-wrp">
        <p class="news-bar-head">
            <span class="d-block px-4"> أخبار عاجلة</span>
            <i class="fa-solid fa-rss fa-2x"></i>
        </p>
        <div id="tx"></div>
    </div>


    <!-- End of news ticker -->


    <!-- START  of  nav  -->
    <nav class="navbar navbar-expand-lg customs-nav navbar-dark sticky-top">
        <div class="container parant-nav">
            <a class="navbar-brand" href="#">مصلحة الجمارك المصرية</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fa-solid fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <!-- start of first element in nav -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            عن المصلحة
                        </a>
                        <div class="megameanu dropdown-menu" aria-labelledby="navbarDropdown">
                            <ul class=" d-block">
                                <li>
                                    <h5 class="text-white  fs-4 fw-bold">مصلحة الجمارك</h5>
                                </li>
                                <li>
                                    <div class="sectionLine my-4"></div>

                                </li>

                                <li>
                                    <a href="#" class="text-light py-2">
                                        <i class="fa-solid fa-chevron-left"></i>
                                        كلمة رئيس المصلحة
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="text-light py-2">
                                        <i class="fa-solid fa-chevron-left"></i>

                                        الرؤية والرسالة
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="text-light py-2">
                                        <i class="fa-solid fa-chevron-left"></i>

                                        الهيكل التنظيمي
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="text-light py-2">
                                        <i class="fa-solid fa-chevron-left"></i>
                                        نبذة تاريخية
                                    </a>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <h5 class="text-white  fs-4 fw-bold">الوحدات التابعة</h5>
                                </li>
                                <li>
                                    <div class="sectionLine my-4"></div>

                                </li>

                                <li>
                                    <a href="#" class="text-light py-2">
                                        <i class="fa-solid fa-chevron-left"></i>
                                        الفاعل الاقتصادي المعتمد
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="text-light py-2">
                                        <i class="fa-solid fa-chevron-left"></i>
                                        وحدة دعم المصدرين والمستثمرين
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="text-light py-2">
                                        <i class="fa-solid fa-chevron-left"></i>
                                        وحدة متابعة المهمل
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="text-light py-2">
                                        <i class="fa-solid fa-chevron-left"></i>
                                        المعهد القومي للتدريب
                                    </a>
                                </li>
                            </ul>
                            <ul>
                                <li class="pa-4">
                                    <h5 class="text-white fs-4 fw-bold"> اتصل بنا</h5>

                                </li>
                                <li class="pa-4">
                                    <div class="sectionLine my-4"></div>

                                </li>

                                <li>
                                    <a href="#" class="text-light py-2">
                                        <i class="fa-solid fa-chevron-left"></i>

                                        بيانات الاتصال
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="text-light py-2">
                                        <i class="fa-solid fa-chevron-left"></i>

                                        المواقع الجمركية
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="text-light py-2">
                                        <i class="fa-solid fa-chevron-left"></i>

                                        التوظيف
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </li>
                    <!-- end of first element in nav -->

                    <!-- Start of second element in nav -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            التشريعات
                        </a>
                        <div class="megameanu dropdown-menu " aria-labelledby="navbarDropdown">
                            <ul class=" d-block">
                                <li>
                                    <h5 class="text-white  fs-4 fw-bold">
                                        التجارة الدولية
                                    </h5>
                                </li>
                                <li>
                                    <div class="sectionLine my-4"></div>

                                </li>

                                <li>
                                    <a href="#" class="text-light py-2">
                                        <i class="fa-solid fa-chevron-left"></i>

                                        دورة الإجراءات</a>

                                </li>
                                <li>
                                    <a href="#" class="text-light py-2">
                                        <i class="fa-solid fa-chevron-left"></i>

                                        قائمة الشحن</a>
                                </li>
                                <li>
                                    <a href="#" class="text-light py-2">
                                        <i class="fa-solid fa-chevron-left"></i>

                                        التفريغ</a>
                                </li>
                                <li>
                                    <a href="#" class="text-light py-2">
                                        <i class="fa-solid fa-chevron-left"></i>
                                        الإقرار النهائي للسيارات</a>
                                </li>
                                <li>
                                    <a href="#" class="text-light py-2">
                                        <i class="fa-solid fa-chevron-left"></i>
                                        الطرود البريدية</a>
                                </li>
                                <li>
                                    <a href="#" class="text-light py-2">
                                        <i class="fa-solid fa-chevron-left"></i>
                                        التسجيل والمتعاملين</a>
                                </li>
                                <li>
                                    <a href="#" class="text-light py-2">
                                        <i class="fa-solid fa-chevron-left"></i>
                                        التحكيم</a>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <h5 class="text-white  fs-4 fw-bold"> السفر والسياحة</h5>
                                </li>
                                <li>
                                    <div class="sectionLine my-4"></div>

                                </li>

                                <li>
                                    <a href="#" class="text-light py-2">
                                        <i class="fa-solid fa-chevron-left"></i>
                                        الركاب
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="text-light py-2">
                                        <i class="fa-solid fa-chevron-left"></i>
                                        الأمتعة الشخصية
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="text-light py-2">
                                        <i class="fa-solid fa-chevron-left"></i>
                                        التربتيكت
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="text-light py-2">
                                        <i class="fa-solid fa-chevron-left"></i>
                                        المعارض والمؤتمرات
                                    </a>
                                </li>
                            </ul>
                            <ul>
                                <li class="pa-4">
                                    <h5 class="text-white fs-4 fw-bold"> اعفاءات ونظم خاصة</h5>

                                </li>
                                <li class="pa-4">
                                    <div class="sectionLine my-4"></div>

                                </li>

                                <li>
                                    <a href="#" class="text-light py-2">
                                        <i class="fa-solid fa-chevron-left"></i>

                                        النظم الخاصة
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="text-light py-2">
                                        <i class="fa-solid fa-chevron-left"></i>

                                        إعادة التصدير
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="text-light py-2">
                                        <i class="fa-solid fa-chevron-left"></i>

                                        السلع الراسمالية
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="text-light py-2">
                                        <i class="fa-solid fa-chevron-left"></i>
                                        صناعات التجميع
                                    </a>
                                </li>

                                <li>
                                    <a href="#" class="text-light py-2">
                                        <i class="fa-solid fa-chevron-left"></i>
                                        الإفراج المسبق للسيارات</a>
                                </li>

                                <li>
                                    <a href="#" class="text-light py-2">
                                        <i class="fa-solid fa-chevron-left"></i>
                                        الإستثمار السياحي</a>
                                </li>

                                <li>
                                    <a href="#" class="text-light py-2">
                                        <i class="fa-solid fa-chevron-left"></i>
                                        قطاع الطيران</a>
                                </li>
                                <li>
                                    <a href="#" class="text-light py-2">
                                        <i class="fa-solid fa-chevron-left"></i>
                                        قطاع البترول</a>
                                </li>

                                <li>
                                    <a href="#" class="text-light py-2">
                                        <i class="fa-solid fa-chevron-left"></i>
                                        اليخوت</a>
                                </li>

                            </ul>
                            <ul>
                                <li class="pa-4">
                                    <h5 class="text-white fs-4 fw-bold">
                                        القوانين والمنشورات
                                    </h5>

                                </li>
                                <li class="pa-4">
                                    <div class="sectionLine my-4"></div>

                                </li>

                                <li>
                                    <a href="#" class="text-light py-2">
                                        <i class="fa-solid fa-chevron-left"></i>

                                        القوانين
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="text-light py-2">
                                        <i class="fa-solid fa-chevron-left"></i>

                                        اللوائح
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="text-light py-2">
                                        <i class="fa-solid fa-chevron-left"></i>

                                        المنشورات
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="text-light py-2">
                                        <i class="fa-solid fa-chevron-left"></i>

                                        الاتفاقيات
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </li>
                    <!-- end of second element in nav -->

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            المركز الاعلامي
                        </a>
                        <div class="megameanu dropdown-menu " aria-labelledby="navbarDropdown">

                            <ul>
                                <li class="pa-4">
                                    <h5 class="text-white fs-4 fw-bold">
                                        الاخبار
                                    </h5>

                                </li>
                                <li class="pa-4">
                                    <div class="sectionLine my-4"></div>

                                </li>

                                <li>
                                    <a href="#" class="text-light py-2">
                                        <i class="fa-solid fa-chevron-left"></i>

                                        اخبار
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="text-light py-2">
                                        <i class="fa-solid fa-chevron-left"></i>

                                        فعاليات
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="text-light py-2">
                                        <i class="fa-solid fa-chevron-left"></i>

                                        ضبطيات
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="text-light py-2">
                                        <i class="fa-solid fa-chevron-left"></i>

                                        تصريحات اعلامية
                                    </a>
                                </li>

                            </ul>
                            <ul>
                                <li class="pa-4">
                                    <h5 class="text-white fs-4 fw-bold">
                                        صور وفيديوهات
                                    </h5>

                                </li>
                                <li class="pa-4">
                                    <div class="sectionLine my-4"></div>

                                </li>

                                <li>
                                    <a href="#" class="text-light py-2">
                                        <i class="fa-solid fa-chevron-left"></i>

                                        صور
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="text-light py-2">
                                        <i class="fa-solid fa-chevron-left"></i>

                                        فيديوهات
                                    </a>
                                </li>

                            </ul>
                            <ul>
                                <li class="pa-4">
                                    <h5 class="text-white fs-4 fw-bold">
                                        مجلة الجمارك
                                    </h5>

                                </li>
                                <li class="pa-4">
                                    <div class="sectionLine my-4"></div>

                                </li>

                                <li>
                                    <a href="#" class="text-light py-2">
                                        <i class="fa-solid fa-chevron-left"></i>

                                        مجلة الجمارك
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </li>

                </ul>
                <form class="d-flex">
                    <input class="form-control me-2 rounded-pill" type="search" placeholder="Search"
                        aria-label="Search">
                    <button class="btn rounded-pill text-white" type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>
            </div>
        </div>
    </nav>
    <!-- End Of nav -->

    <!-- Start Of page Header -->
    <section class="">

        <div class="inner-banner d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div>
                            <h4>
                                الخدمات
                            </h4>

                        </div>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#"> الخدمات</a></li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    بيع بضائع المهمل
                                </li>
                            </ol>
                        </nav>

                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- End Of page Header -->

    <!-- ============================== Start of page content ============================-->

    <section class="my-6">
        <div class="container " id="app">
            <div class="row">
                <div class="col">
                    <div class="my-4">
                        <div class="d-flex justify-content-lg-center">
                            <button class="btn btn-outline-primary m-2"  @click="setItemsType('m')">موبايل</button>
                            <button class="btn btn-outline-primary m-2" @click.prevent="setItemsType('h')"> تابلت</button>
                            <button class="btn btn-outline-primary m-2" @click.prevent="setItemsType('h')">سماعات أذن</button>
                            <button class="btn btn-outline-primary m-2" @click.prevent="setItemsType('h')">اكسسوارات</button>
                          </div>
                        <h3>
                            موبايل
                        </h3>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12" v-for="(item,i) in filtereditems" :key="i">
                    <div class="d-flex my-2">

                        <div class="card">
                            <p class="text-lg-end m-2" v-if="i==1">

                                <span class="badge bg-danger rounded-5 ">جديد</span>
                            </p>
                            <p class="text-lg-end m-2" v-else>

                                <span class="badge bg-info rounded-5 ">مستعمل</span>
                            </p>
                            <div class="d-flex justify-content-center my-2 overflow-hidden" style="height:200px">

                                <img :src="`http://localhost:5000/images/phons/phone-${i+1}.png`" class="card-img-top"
                                    style="max-width: 60%;" alt="">
                            </div>
                            <!-- <img src="..."  alt="..."> -->
                            <div class="card-body text-center">
                                <h5 class="card-title ">{{item.name}}</h5>

                                <p class="card-text fw-bold">
                                    5000 جنيه
                                </p>
                                <button class="btn btn-primary" @click="setSelectedItem(item);">تفاصيل</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <hr class="my-6" /> -->
            <div class="my-2">
                <hr>
            </div>
            <div class="mobile-details-dialog" v-if="showDetails">
                <div class="mobile-details-dialog-contents">
                    <div class="card ">
                        <div class="card-header">
                            <p>{{selectedItem.name}}</p>

                        </div>

                        <div class="card-body">
                            <div class="row">
                                <div class="col-4">
                                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                                        <div class="carousel-indicators">
                                            <button type="button" data-bs-target="#carouselExampleIndicators"
                                                data-bs-slide-to="0" class="active" aria-current="true"
                                                aria-label="Slide 1"></button>
                                            <button type="button" data-bs-target="#carouselExampleIndicators"
                                                data-bs-slide-to="1" aria-label="Slide 2"></button>
                                            <button type="button" data-bs-target="#carouselExampleIndicators"
                                                data-bs-slide-to="2" aria-label="Slide 3"></button>
                                        </div>
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <img src="http://localhost:5000/images/phons/phone-1.png"
                                                    class="d-block w-50" alt="...">
                                            </div>
                                            <div class="carousel-item">
                                                <img src="http://localhost:5000/images/phons/phone-1.png"
                                                    class="d-block w-50" alt="...">
                                            </div>
                                            <div class="carousel-item">
                                                <img src="http://localhost:5000/images/phons/phone-1.png"
                                                    class="d-block w-50" alt="...">
                                            </div>
                                        </div>
                                        <button class="carousel-control-prev" type="button"
                                            data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Previous</span>
                                        </button>
                                        <button class="carousel-control-next" type="button"
                                            data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Next</span>
                                        </button>
                                    </div>

                                </div>
                                <div class="col-4">
                                    <div class="mobile-details-list">
                                        <p><span >شريحة</span>
                                        <span class="fw-bold">{{selectedItem.details.sim+" "}}</span>
                                        <span>شريحة </span>
                                        </p>
                                    </div>
                                    <div class="mobile-details-list">
                                        <p><span>نوع الشريحة</span>
                                            <span class="fw-bold">{{selectedItem.details.simtype+" "}}</span>

                                        </p>
                                    </div>
                                    <div class="mobile-details-list">
                                        <p><span>الشاشة</span>
                                            <span class="fw-bold">{{selectedItem.details.screen+" بوصة"}}</span>

                                        </p>
                                    </div>
                                    <div class="mobile-details-list">
                                        <p><span>رامات</span>
                                            <span class="fw-bold">{{selectedItem.details.ram+" "}}</span>

                                        </p>
                                    </div>
                                    <div class="mobile-details-list">
                                        <p><span>ذاكرة داخلية</span>
                                            <span class="fw-bold">{{selectedItem.details.internalMem+" "}}</span>

                                        </p>
                                    </div>
                                    <div class="mobile-details-list">
                                        <p><span>كاميرا خلفية</span>
                                            <span class="fw-bold">{{selectedItem.details.fronCam+" "}}</span>

                                        </p>
                                    </div>
                                    <div class="mobile-details-list">
                                        <p><span>كاميرا امامية</span>
                                            <span class="fw-bold">{{selectedItem.details.backCam+" "}}</span>

                                        </p>
                                    </div>
                                    <div class="mobile-details-list">
                                        <p><span>اللون</span>
                                            <span class="fw-bold">{{selectedItem.details.color+" "}}</span>

                                        </p>
                                    </div>

                                </div>
                                <div class="col-4">
                                    <div>
                                        مكان البيع : جمرك السويس
                                    </div>
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3453.1960070440905!2d31.298710676148012!3d30.05991561783644!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14583fa99dc9f37b%3A0x9501456361d224f6!2sMinistry%20of%20Finance!5e0!3m2!1sen!2seg!4v1683790063005!5m2!1sen!2seg" width="250" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                    <div>
                                        <h5>شروط  وأحكام</h5>
                                        <ul>
                                            <li>
                                                <p>مسموح بعدد ثلاثة هواتف للفرد</p>
                                            </li>
                                            <li>
                                                <p>شرط رقم 2</p>
                                            </li>
                                            <li>
                                                <p>شرط رقم 3</p>
                                            </li>

                                        </ul>

                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="card-footer">
                            <button class="btn btn-outline-primary" @click="closelDialog()">غلق</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- ============================== End of page content ============================-->


    <!-- Start of footer -->

    <section class="primary-section-bg py-4 mt-5 footer-section">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="footer-wraper">
                        <div class="client-form">
                            <div class="sectionLine my-4"></div>
                            <h4 class="white-text">استطلاع رأي</h4>
                            <p class="white-text">
                                إذا كنت أحد المتعاملين مع مصلحة الجمارك ..
                            </p>
                            <p class="white-text">
                                هل قمت بالتسجيل على منصة نافذة استعدادا لتطبيق المرحلة الالزامية لنظام الـ ACI

                            </p>
                            <div class="my-4">
                                <div>
                                    <button class="btn btn-light ">نعم</button>
                                    <button class="btn btn-outline-light">لم اسجل بعد</button>

                                </div>
                                <div class="form-group my-4">
                                    <textarea name="" class="form-control" id="" cols="30" rows="5"></textarea>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="footer-links">
                        <div class="row">
                            <div class="col-3">
                                <ul>
                                    <li>
                                        <h4 class="white-text">
                                            الخدمات
                                        </h4>
                                    </li>
                                    <li><a href="#">link1</a></li>
                                    <li><a href="#">link1</a></li>
                                    <li><a href="#">link1</a></li>
                                    <li><a href="#">link1</a></li>
                                </ul>
                            </div>
                            <div class="col-3">
                                <ul>
                                    <li>
                                        <h4 class="white-text">
                                            مصلحة الجمارك
                                        </h4>
                                    </li>

                                    <li><a href="#">link1</a></li>
                                    <li><a href="#">link1</a></li>
                                    <li><a href="#">link1</a></li>
                                    <li><a href="#">link1</a></li>
                                </ul>

                            </div>
                            <div class="col-3">
                                <ul>
                                    <li>
                                        <h4 class="white-text">
                                            روابط تابعة
                                        </h4>
                                    </li>

                                    <li><a href="#">link1</a></li>
                                    <li><a href="#">link1</a></li>
                                    <li><a href="#">link1</a></li>
                                    <li><a href="#">link1</a></li>
                                </ul>

                            </div>
                            <div class="col-3">
                                <ul>
                                    <li>
                                        <h4 class="white-text">
                                            تابعنا
                                        </h4>
                                    </li>

                                    <li><a href="#">link1</a></li>
                                    <li><a href="#">link1</a></li>
                                    <li><a href="#">link1</a></li>
                                    <li><a href="#">link1</a></li>
                                </ul>

                            </div>
                        </div>

                    </div>
                    <div class="footer-decor">
                        <div class="footer-decor-line"></div>
                        <div class="footer-decor-img">
                            <img src="./images/EcaLogoLarge.png" class="img-fluid" alt="">
                        </div>
                        <div>
                            <p class="text-center footer-mark">
                                جميع الحقوق محفوظة لمصلحة الجمارك 2022
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End of footer -->

    <!-- Start of  -->
    <script src="./js/bootstrap.bundle.min.js"></script>
    <script src="./js/jquery-3.6.0.min.js"></script>
    <script src="./js/owl.carousel.min.js"></script>
    <script src="js/telex.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="./js/app.js"></script>
    <!-- <script src="./js/mainJs.js"></script> -->

    <script>
        var qtx = Telex.widget("tx", { pauseOnHover: true, speed: 25, direction: "reverse" }, [
            {
                id: "msg1",
                content: "بدء العمل بمنظومة ",
                class: 'msg-lightgreen',

            },
            {
                id: "msg2",
                content: "بعض الاخبار التى تهم المجتمع الجمركي ",
                class: 'msg-lightgreen',

            },
            {
                id: "msg3",
                content: "بعض الاخبار التى تهم المجتمع الجمركي ",
                class: 'msg-lightgreen',

            },
            {
                id: "msg4",
                content: "بعض الاخبار التى تهم المجتمع الجمركي ",
                class: 'msg-lightgreen',

            },
        ]);

    </script>
</body>

</html>